n8n/ai-agent-dynamic-flow.json
{
  "name": "Somar.IA SaaS - Agente Autônomo WhatsApp (Dinâmico)",
  "nodes": [
    {
      "parameters": {
        "path": "whatsapp-agent-dynamic",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-evolution",
      "name": "Webhook WhatsApp",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ 100, 300 ]
    },
    {
      "parameters": {
        "url": "https://api.somar.ia.br/api/bot/context?tenantId=tenant_einstein_demo",
        "options": {}
      },
      "id": "fetch-context",
      "name": "Carregar Contexto Clínica",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [ 300, 300 ]
    },
    {
      "parameters": {
        "text": "={{ $('Webhook WhatsApp').item.json.body.message || $('Webhook WhatsApp').item.json.message }}",
        "options": {
          "systemMessage": "={{ $json.systemPrompt }}"
        }
      },
      "id": "ai-agent-main",
      "name": "Agente Autônomo Especializado",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [ 500, 300 ]
    },
    {
      "parameters": {
        "model": "gemini-pro",
        "options": {}
      },
      "id": "gemini-model",
      "name": "Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [ 450, 500 ]
    },
    {
      "parameters": {
        "sessionId": "={{ $('Webhook WhatsApp').item.json.sender_number }}",
        "contextWindowLength": 10
      },
      "id": "buffer-memory",
      "name": "Memória da Conversa",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1,
      "position": [ 600, 500 ]
    },
    {
      "parameters": {
        "name": "tool_list",
        "description": "Lista especialidades, serviços ou profissionais da clínica. Parâmetro obrigatório: tipo — use 'especialidades' para clínicas médicas/multi, 'servicos' para salões/estéticas/fisio, 'profissionais' para ver todos os profissionais.",
        "method": "GET",
        "url": "https://api.somar.ia.br/api/n8n/list-metadata",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "tenantId", "value": "tenant_einstein_demo" },
            { "name": "tipo", "value": "={{ $fromAI('tipo') }}" }
          ]
        }
      },
      "id": "tool-list",
      "name": "Ferramenta: Listar Opções",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [ 750, 420 ]
    },
    {
      "parameters": {
        "name": "tool_list_by_service",
        "description": "Retorna os profissionais que atendem um serviço específico. Parâmetro obrigatório: servicoId (ID do serviço obtido via tool_list).",
        "method": "GET",
        "url": "https://api.somar.ia.br/api/n8n/professionals-by-service",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "tenantId", "value": "tenant_einstein_demo" },
            { "name": "servicoId", "value": "={{ $fromAI('servicoId') }}" }
          ]
        }
      },
      "id": "tool-list-by-service",
      "name": "Ferramenta: Profissionais por Serviço",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [ 900, 480 ]
    },
    {
      "parameters": {
        "name": "tool_client_info",
        "description": "Verifica se o cliente já é cadastrado, retorna profissional preferido e se é assinante ativo. Parâmetro obrigatório: whatsapp (número do remetente da conversa).",
        "method": "GET",
        "url": "https://api.somar.ia.br/api/n8n/client-info",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "tenantId", "value": "tenant_einstein_demo" },
            { "name": "whatsapp", "value": "={{ $fromAI('whatsapp') }}" }
          ]
        }
      },
      "id": "tool-client-info",
      "name": "Ferramenta: Info do Cliente",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [ 1050, 540 ]
    },
    {
      "parameters": {
        "name": "tool_availability",
        "description": "Retorna os horários disponíveis para uma data. Parâmetros obrigatórios: date (YYYY-MM-DD), profissionalId (ID do profissional escolhido).",
        "method": "GET",
        "url": "https://api.somar.ia.br/api/n8n/availability",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "date", "value": "={{ $fromAI('date') }}" },
            { "name": "profissionalId", "value": "={{ $fromAI('profissionalId') }}" },
            { "name": "tenantId", "value": "tenant_einstein_demo" }
          ]
        }
      },
      "id": "tool-availability",
      "name": "Ferramenta: Ver Horários",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [ 1200, 420 ]
    },
    {
      "parameters": {
        "name": "tool_get_appointments",
        "description": "Busca agendamentos existentes pelo telefone do paciente (para obter o ID antes de remarcar ou cancelar). Parâmetro obrigatório: phone.",
        "method": "GET",
        "url": "https://api.somar.ia.br/api/bot/appointments",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "phone", "value": "={{ $fromAI('phone') }}" },
            { "name": "tenantId", "value": "tenant_einstein_demo" }
          ]
        }
      },
      "id": "tool-get-appointments",
      "name": "Ferramenta: Consultar Agendamentos",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [ 1050, 620 ]
    },
    {
      "parameters": {
        "name": "tool_book",
        "description": "Cria um novo agendamento. PROIBIDO usar antes do cliente confirmar com SIM. Parâmetros obrigatórios: pacienteTelefone, pacienteNome, dataHora (ISO 8601), profissionalId, servicoId.",
        "method": "POST",
        "url": "https://api.somar.ia.br/api/bot/appointments",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "pacienteTelefone", "value": "={{ $fromAI('pacienteTelefone') }}" },
            { "name": "pacienteNome", "value": "={{ $fromAI('pacienteNome') }}" },
            { "name": "dataHora", "value": "={{ $fromAI('dataHora') }}" },
            { "name": "profissionalId", "value": "={{ $fromAI('profissionalId') }}" },
            { "name": "servicoId", "value": "={{ $fromAI('servicoId') }}" },
            { "name": "tenantId", "value": "tenant_einstein_demo" }
          ]
        }
      },
      "id": "tool-book",
      "name": "Ferramenta: Criar Agendamento",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [ 1350, 480 ]
    },
    {
      "parameters": {
        "name": "tool_update_appointment",
        "description": "Remarca ou cancela um agendamento existente. Parâmetro obrigatório: id (obtido via tool_get_appointments). Opcional: status='cancelado' para cancelar, ou dataHora (ISO 8601) para remarcar.",
        "method": "PUT",
        "url": "https://api.somar.ia.br/api/bot/appointments/{{ $fromAI('id') }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "status", "value": "={{ $fromAI('status') }}" },
            { "name": "dataHora", "value": "={{ $fromAI('dataHora') }}" },
            { "name": "tenantId", "value": "tenant_einstein_demo" }
          ]
        }
      },
      "id": "tool-update",
      "name": "Ferramenta: Remarcar ou Cancelar",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [ 1350, 600 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ultramsg.com/instance156799/messages/chat",
        "sendBody": true,
        "contentType": "www-form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "token", "value": "nbk60ugo4t1craq9" },
            { "name": "to", "value": "={{ $('Webhook WhatsApp').item.json.body.from || $('Webhook WhatsApp').item.json.sender_number }}" },
            { "name": "body", "value": "={{ $json.output }}" }
          ]
        },
        "options": {}
      },
      "id": "send-wa",
      "name": "Disparar Resposta WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [ 850, 300 ]
    }
  ],
  "connections": {
    "Webhook WhatsApp": {
      "main": [
        [ { "node": "Carregar Contexto Clínica", "type": "main", "index": 0 } ]
      ]
    },
    "Carregar Contexto Clínica": {
      "main": [
        [ { "node": "Agente Autônomo Especializado", "type": "main", "index": 0 } ]
      ]
    },
    "Agente Autônomo Especializado": {
      "main": [
        [ { "node": "Disparar Resposta WhatsApp", "type": "main", "index": 0 } ]
      ]
    },
    "Google Gemini": {
      "ai_languageModel": [
        [ { "node": "Agente Autônomo Especializado", "type": "ai_languageModel", "index": 0 } ]
      ]
    },
    "Memória da Conversa": {
      "ai_memory": [
        [ { "node": "Agente Autônomo Especializado", "type": "ai_memory", "index": 0 } ]
      ]
    },
    "Ferramenta: Listar Opções": {
      "ai_tool": [
        [ { "node": "Agente Autônomo Especializado", "type": "ai_tool", "index": 0 } ]
      ]
    },
    "Ferramenta: Profissionais por Serviço": {
      "ai_tool": [
        [ { "node": "Agente Autônomo Especializado", "type": "ai_tool", "index": 0 } ]
      ]
    },
    "Ferramenta: Info do Cliente": {
      "ai_tool": [
        [ { "node": "Agente Autônomo Especializado", "type": "ai_tool", "index": 0 } ]
      ]
    },
    "Ferramenta: Ver Horários": {
      "ai_tool": [
        [ { "node": "Agente Autônomo Especializado", "type": "ai_tool", "index": 0 } ]
      ]
    },
    "Ferramenta: Consultar Agendamentos": {
      "ai_tool": [
        [ { "node": "Agente Autônomo Especializado", "type": "ai_tool", "index": 0 } ]
      ]
    },
    "Ferramenta: Criar Agendamento": {
      "ai_tool": [
        [ { "node": "Agente Autônomo Especializado", "type": "ai_tool", "index": 0 } ]
      ]
    },
    "Ferramenta: Remarcar ou Cancelar": {
      "ai_tool": [
        [ { "node": "Agente Autônomo Especializado", "type": "ai_tool", "index": 0 } ]
      ]
    }
  },
  "settings": {}
}
